body{
    background-color: darkblue;
    color:yellow
}

h1{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 90px;
    text-align: center;
    position:center;
    
}

p{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 40px;
    padding: 10px;
    margin: 20px;
}
ul{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 40px;
    padding: 10px;
    margin: 20px;
}
ol{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 40px;
    padding: 10px;
    margin: 20px;
}