
.box{   background-color: lightgrey;
        width:300px;
        height:150px;
        padding:10px;
        border: 5px solid black;
        margin: 50px ;
}

.caja{  background-color: yellow;
        width:300px;
        height:150px;
        padding:10px;
        border: 5px solid blue;
        margin: 50px ;
}

.caja2{ background-color: red;
        width:300px;
        height:150px;
        padding:10px;
        border: 5px solid black;
        margin: 50px ;
        
}


.contenedor{
    border:5px solid black;
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: nowrap;
}
